<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="ProductMapper">




    <!-- 제품 등록하기 -->
    <insert id = "insert" parameterType="productDto">
        insert into productList(code, name, qty, price, detail)
        values(#{code}, #{name}, #{qty}, #{price}, #{detail})
    </insert>


</mapper>