<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="ProductMapper">




    <!-- 제품 등록하기 -->
    <insert id = "insert" parameterType="productDto">
        insert into productList(code, name, qty, price, detail)
        values(#{code}, #{name}, #{qty}, #{price}, #{detail})
    </insert>

    <!-- 전체 검색 -->
    <select id = "selectAll" resultType="productDto">
        select *
        from productList
    </select>

    <!-- 상품 수정 -->
    <update id="update">
        update productList
        set
        name = #{name},
        qty = #{qty},
        price = #{price},
        detail = #{detail}
        where code = #{code}

    </update>

    <!-- 상품 삭제하기(상품코드로 삭제))-->
    <delete id="delete" parameterType="String">
        delete from productList where code = #{_parameter}
    </delete>

    <!-- 모든 상품의 개수 촐력 -->
    <select id = "selectSumQty" resultType="int">
        select sum(qty) from productList
    </select>








</mapper>