<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="ProductMapper">

    <!-- 공통 쿼리 -->
    <sql id = "selectSel">
        select code, name, qty, price, detail
        from productList
    </sql>

    <!-- 1. 전체검색 -->
    <select id = "selectAll" resultType="productDTO">
        <include refid="selectSel"/>
    </select>

    <!-- 2. 등록 -->
    <insert id = "insert" parameterType="productDTO">
        insert into productList(code, name, qty, price, detail)
        values(#{code}, #{name}, #{qty}, #{price}, #{detail})
    </insert>






</mapper>